.App {
  text-align: center;
}

.App-logo img {
  filter: invert(100%);
}

.App-logo {
  display: flex;
  align-items: center;
  margin: 25px;
}

.App-header {
  background-color: #1D2228;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.btn {
  color: red;
}